@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

body{
    background-color: #365577;
    font-family: 'Lilita One', cursive;
}

#title{
    text-align: center;
    color: white;
    font-size: 100px;
    margin-bottom: -75px;
}

.back{
    background-color: white;
    margin: 0px 42% 0px 42%;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#desc{
    text-align: center;
    font-size: 24px;
}

#moves{
    text-align: center;
    font-size: 36px;
    margin-top: -5px;
}

.main{
    padding: 25px;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 7% 25% 25px 25%;
}

.btn{
    padding: 25px;
    font-family: 'Lilita One', cursive;
    font-size: 24px;
    color: white ;
    background-color: #365577;
    border: 2px white solid;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #999;
}

#Win{
    margin: 15% 25% 25px 25%;
    text-align: center;
    z-index: 1;
    background-color: #365577;
    color: white;
    border-radius: 5px;
}

#WinTitle{
    font-family: 'Lilita One', cursive;
    font-size: 100px;
}